* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

#calculator-output,
#calculator-input {
    /* border: 1px solid black; */
    min-width: 500px;
    max-width: 500px;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; 
    Leave this out for now. Makes it easier to work on*/
}

#calculator-output {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,
    rgba(84,163,238,1) 50%,
    rgba(54,144,240,1) 51%,
    rgba(30,105,222,1) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 10px;
    padding: 0px 16px;
}

input {
    height: 50px;
    width: 1px;
    font-size: 30px;
    padding: 0px 10px;
    border-radius: 10px;
    flex: 4;
}

#clear-button {
    width: 12%;
    text-align: center;
    flex: 1.5;
}

#delete-button {
    padding: 0px 8px;
}

#calculator-input {
    height: 500px;
    display: flex;
    background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#number-buttons {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    border-right: 0px solid black;
}

.number-button {
    min-width: 100px;
    min-height: 20%;
}

button.number-button:hover,
#clear-button:hover,
#delete-button:hover {
    box-shadow: inset 0 0 10px rgb(56, 118, 168);
}

button {
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.19);
    background: linear-gradient(to bottom, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    font-size: 32px;
    font-family: "Helvetica";
    border-radius: 10px;
}

#zero {
    min-width: 333px;
}


#operator-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operator-button{
    width: 80%;
    flex: 1;
    margin: 8px 0px;
}

button.operator-button {
    background: linear-gradient(to bottom, #ffa340 0%, #e27500 100%);
}

button.operator-button:hover {
    box-shadow: inset 0 0 10px #a54505;
}

#equals {
    flex: 2;
}